<!DOCTYPE html>
<html>
<head>
<link
rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
crossorigin="anonymous" />

<script src="https://kit.fontawesome.com/2438e29c9a.js" crossorigin="anonymous"></script>

</head>

<body>
<div>

<div id = "app"></div>

</div>
</body>

</html>

<%= javascript_pack_tag 'application' %>