.form {
    width: 350px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-left: 550px;
    margin-right: 550px;
    
}

body, html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Courier New', 'Courier','monospace';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(89deg, #13547a 0%, #80d0c7 100%);
  }


  




