
<!DOCTYPE html>
<html>
  <head>
    <title>CsAdmin</title>
    <link
      rel=“stylesheet”
      href=“https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css”
      integrity=“sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk”
      crossorigin=“anonymous” />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(19, 84, 122); color: white">
  <a class="navbar-brand" style="color: white" href="/tickets">CsAdmin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    </ul>
  </div>
</nav>

    <p class=“notice”><%= notice %></p>
    <p class=“alert”><%= alert %></p>

    <%= yield %>
  </body>
</html>
